.game-field {
  width: 500px;
  height: 500px;
  border-radius: 1px solid black;
  position: relative;
  margin: 150px auto;
}
.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid black;
}
